.config/nvim/lazy-lock.json
.config/nvim/lua/plugins/dankcolors.lua
.config/yazi/plugins/
.config/yazi/flavors/
.config/yazi/package.toml
.config/spicetify/CustomApps/
.config/spicetify/Extensions/
.config/spicetify/config-xpui.ini
.config/mpv/scripts/
.config/niri/dms/
.config/hypr/dms/
.config/oh-my-zsh/custom/plugins/