* {
  font-family: "FiraCode Retina", monospace;
  font-size: 16px;

  background: transparent;
  border-radius: 0;
}

#window {
  background-color: #111; 
}

#input {
  padding: 6px;
  padding-left: 12px;
  border-color: rgba(255, 255, 255, 0.1);
}

#img {
  margin: 6px;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.1);
}

#text {
  margin: 2px;
}
